<center>
<%= image_tag 'Let-Shay.jpg' %>
</center>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Available Sizes</th>
      <th scope="col">Width  (အကျယ်)</th>
      <th scope="col">Height  (အရှည်)</th>
      <th scope="col">Weight  (ပေါင်)</th>
    </tr>
  </thead>
  <tbody>
  
      <th scope="row">Medium</th>
      <td>17</td>
      <td>26</td>
      <td>100 - 120</td>
    </tr>
    <tr>
      <th scope="row">Large</th>
      <td>19</td>
      <td>26</td>
      <td>120 - 140</td>
    </tr>
   


  </tbody>
</table>