<center>
<%= image_tag 'Let-Shay.jpg' %>
</center>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Available Sizes</th>
      <th scope="col">Width  (အကျယ်)</th>
      <th scope="col">Height  (အရှည်)</th>
      <th scope="col">Sleeve (လက်)</th>
      <th scope="col">Weight  (ပေါင်)</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Medium</th>
      <td>25</td>
      <td>17.5</td>
      <td>23.5</td>
      <td>80 - 100</td>
    </tr>
    <tr>
      <th scope="row">Large</th>
      <td>26</td>
      <td>18.5</td>
      <td>24</td>
      <td>100 - 120</td>
    </tr>
    <tr>
      <th scope="row">Xtra Large</th>
      <td>27</td>
      <td>19.5</td>
      <td>24.5</td>
      <td>120 - 140</td>
    </tr>


  </tbody>
</table>