<center>
<%= image_tag 'Let-Shay.jpg' %>
</center>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Available Sizes</th>
      <th scope="col">Width  (အကျယ်)</th>
      <th scope="col">Height  (အရှည်)</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Medium</th>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th scope="row">Large</th>
      <td>20</td>
      <td>23</td>
    </tr>
   

  </tbody>
</table>