<center>
<%= image_tag 'sizechart/sotkyal.png' %>
</center>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Available Sizes</th>
      <th scope="col">Width  (အကျယ်)</th>
      <th scope="col">Height  (အရှည်)</th>
      <th scope="col">Weight  (ပေါင်)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">FREE</th>
      <td>18</td>
      <td>25</td>
      <td>100 - 140</td>
    </tr>
  </tbody>
</table>