#htoo_topnav {
     border-left: 1px solid;
}
 #htoo_topnav_link {
     font-size:13px;
     color:#9d9d9d;
}
 #htoo_topnav_link:hover {
     color: #6c7ae0;
}
 .htoo_secondnav{
     font-size: 14px;
     color: #333;
     padding: 5px 0px;
}
 .htoo_secondnav:hover{
     color: #6c7ae0;
}
 .htoo_secondnav:hover{
     cursor: pointer;
}
 #spree-header .nav a{
     color: #333;
     text-decoration: none;
}
 #spree-header .nav a:hover{
     color: #6c7ae0;
     text-decoration:none;
     font-weight:bold;
     cursor:default;
}
 .htoo_subheadera{
     font-size: 15px;
     line-height: 1.2;
     color:#333;
}
 .htoo_subheader{
     font-size: 15px;
     line-height: 1.2;
     color:#9d9d9d;
     padding-left: 25px;
}
 .htoo_subheader:hover{
     color: #333;
     cursor:pointer;
}
 #htoo_producthead {
     font-weight: 900;
     font-size: 32px;
     line-height: 1.1;
     text-transform: uppercase;
     padding-bottom: 15px;
}
 #htoo_producttitle{
     font-size: 14px;
     line-height: 1.466667;
     color: #999;
     text-align: left;
     padding-top: 20px;
}
 #htoo_productprice{
     font-size: 14px;
     line-height: 1.466667;
     color: #212529;
     text-align: left;
}
 #htoo_filterbtn, #htoo_filterbtn2{
     float: right;
     margin-left: 10px;
     color: #999;
}
 #htoo_filterbtn:hover, #htoo_filterbtn2:hover {
     color: white;
     cursor:pointer;
     background-color: #6c7ae0;
}
 #htoo_searchbtn, #htoo_searchbtn2{
     float: right;
     margin-left: 10px;
     color: #999;
}
 #htoo_searchbtn:hover, #htoo_searchbtn2:hover{
     color: white;
     cursor:pointer;
     background-color: #6c7ae0;
}
 #htoo_searchbtn2{
     color: white;
     cursor:pointer;
     background-color: #6c7ae0;
}
 #htoo_filterbtn2{
     color: white;
     cursor:pointer;
     background-color: #6c7ae0;
}
 #htoo_bigsearch {
     padding-top: 30px;
     display: none;
}
 #htoo_bigfilter {
     padding-top: 40px;
     display: none;
     background-color: #f5f5f5;
     margin-bottom: 55px;
}
 #htoo_styleheader{
     font-size: 16px;
     line-height: 1.1;
     font-weight: 900;
}
 #htoo_styletext {
     font-size: 14px;
     margin-top: -5px;
}
 #style_cateback1{
     background-image: url(/assets/banner-aok01.jpg);
     height: 100%;
    /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #style_cateback2{
     background-image: url(/assets/banner-aok02.jpg);
     height: 100%;
    /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #style_cateback3{
     background-image: url(/assets/banner-aok03.jpg);
     height: 100%;
    /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #style_cateback:hover{
     background-color:rgb(0,0,255);
    opacity:0.8;
     cursor: pointer;
}
 #style_catebackbody{
     height: 250px;
}
 #htoo_stylefooter_casual, #htoo_stylefooter_elegant, #htoo_stylefooter_smart{
     font-weight: 900;
     font-size: 14px;
     text-decoration: underline;
     position: absolute;
     bottom: 20px;
     display: none;
}
 footer {
     width: 100%;
     background-color: #333;
     color: white;
     padding-bottom: 10px;
}
 #footer_header{
     font-weight: 900;
}
 #htoo_navheader{
     position: relative;
     left: 30px;
     top: 15px;
     color: #9d9d9d;
}
 #product_desc{
     text-align:center;
}
 #product_desctlt{
     margin-right: 20px;
     color:#333;
     font-size: 16px;
}
 #product_desctlt:hover{
     color:#333;
     cursor: pointer;
}
 #product_desctlt2{
     color: #888;
     font-size: 16px;
}
 #product_desctlt2:hover{
     color:#333;
     cursor: pointer;
}
 #productpro_desctlt{
     color: #888;
     padding-top: 5px;
     font-size: 14px;
}
 #product_text_message{
     color: #888;
     font-size: 14px;
}
 #man_navcont {
     background-color: #fff;
     height: 80px;
     border-style: solid;
     border-right: transparent;
     border-left: transparent;
     border-bottom-color:#f8f8f8;
}
 #htoo_product_title {
     color: #333;
     font-size: 16px;
     line-height: 1.5;
}
 #sku_title{
     color: #888;
     font-size: 14px;
     text-align:center;
}
 #productrelate{
     color: #333;
     font-size: 18px;
     text-align:center;
}
 #spree-header .nav a:hover{
     color:red;
     cursor: pointer;
     background: transparent;
}
 #navli{
     font-size: 16px;
     color: white;
}
 #navli2{
     font-size: 12px;
     color: white;
}
 #aboutus_div {
     position: relative;
     right: 20px;
}
 #product_image_ok{
     height: 240px;
}
 #desktt{
     position:relative;
    top:10px;
}
 #logook{
     position: relative;
     bottom:10px;
}
 #mobile_remove_product, #mobitotalorder_amount, #mobile_flowbutton, #cart-backordered-info{
     display: none;
}
 #theli {
     color: white;
}
 #carousel-example-generic{
     position: relative;
     top: -50px;
}
 #order_summary{
     position: relative;
     bottom: 60px;
}
 #products{
     position: relative;
     top: -100px;
}
 #checkout{
     position: relative;
     top: -50px;
}
 #order-total-mobi ,#subtotal-mobi ,#price-adjustments-mobi ,#shipment-total-mobi ,#tax-adjustments-mobi ,#order-charges-mobi{
     display: none;
}
 #products{
     position: relative;
     top: -30px;
}
.order-payment-state{
        display: none;
}
#content {
     position: relative;
     top: 67px;
}
#existing-customer p strong{
   display: none;
}


#inside-product-cart-form table select{

    position: relative;
    display: inline-block;
    padding: 10px 70px 10px 13px !important;
    width: 240px;
    height: auto !important;
    border: 1px solid #333333;
    background: url(//dr89u07j3vi3h.cloudfront.net/assets/arrow_select-7816eeb….png) right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
     left: 10px;
     top: 4px;
     margin-bottom: 5px;


}


#procate{
     font-size: 20px;
     font-weight: bold;
}

#proname{
     font-size: 20px;
     font-weight: lighter;  
}

#proprice{
     font-size: 20px;
     font-weight: bold;
}

#product-price{
     display: none;
}

#quantity {
    
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 13px !important;
    width: 30%;
    height: auto !important;
    border: 1px solid #333333;
    background: url(//dr89u07j3vi3h.cloudfront.net/assets/arrow_select-7816eeb….png) right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    top: 15px;

}




#add-to-cart-button {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
    font-size: 15px;
    font-weight: 700;
    line-height: 47px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #202220;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s;
    padding: 0;
    border-width: 0;
        top: 15px;

}


div.sticky1 {


  background-color: black;
  padding: 35px;
   color: white;
   text-align: center;
   width: 400px;
}

div.sticky2 {
  
  background-color: black;
  padding: 35px;
  color: white;
  text-align: center;
    width: 400px;
}




div.sticky1:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

div.sticky2:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}



#tentitle {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}


#tentitle2 {
    font-size: 10px;
    color: yellow;
}

#cpcode {
    font-size: 30px;
    font-weight: 400;
    color: #FF4500;
}

html, body {
    overflow-x: hidden;
}


#disverti1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 25px;
    color: white;
}


#disverti2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 25px;
    color: white;
}


#stickclick1{
    background: black;
      padding: 15px;

}

#stickclick2{
    background: black;
      padding: 15px;
}


#stickclick1:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


#stickclick2:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#sizeguide{
    position: relative;
    left: 220px;
    font-size: 12px;
}


#sizeguide:hover{
        cursor: pointer;
}