#htoo_topnav {
	border-right: 1px solid rgba(255,255,255,0.3);
}


#htoo_topnav_link {
	font-size:13px;
	color:#9d9d9d;
}


#htoo_topnav_link:hover {
  color: #6c7ae0;
}




.htoo_secondnav{

    font-size: 14px;
    color: #333;
    padding: 5px 0px;

}


.htoo_secondnav:hover{

    color: #6c7ae0;

}

.htoo_secondnav:hover{

    color: #none;
    cursor: pointer;

}




#spree-header .nav a{
  color: #333;
  text-decoration: none;
}


#spree-header .nav a:hover{

    
    color: #6c7ae0;
    text-decoration:none; !important
    font-weight:bold; !important
    cursor:default; !important

}

.htoo_subheadera{
   font-size: 15px;
    line-height: 1.2;
    color:#333;
    text-decoration-line: underline;
}

.htoo_subheader{
   font-size: 15px;
    line-height: 1.2;
    color:#9d9d9d;
    padding-left: 25px;
}



.htoo_subheader:hover{

    color: #333;
    cursor:pointer;



}

#htoo_producthead {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 15px;
}


#htoo_producttitle{
    font-size: 14px;
    line-height: 1.466667;
    color: #999;
    text-align: left;
    padding-top: 20px;
}


#htoo_productprice{
    font-size: 14px;
    line-height: 1.466667;
    color: #212529;
    text-align: left;
}



#htoo_filterbtn, #htoo_filterbtn2{
  float: right;
  margin-left: 10px;
   color: #999;
}


#htoo_filterbtn:hover, #htoo_filterbtn2:hover {

    color: white;
    cursor:pointer;
    background-color: #6c7ae0;



}

#htoo_searchbtn, #htoo_searchbtn2{
  float: right;
  margin-left: 10px;
   color: #999;
}


#htoo_searchbtn:hover, #htoo_searchbtn2:hover{

    color: white;
    cursor:pointer;
    background-color: #6c7ae0;



}

#htoo_searchbtn2{
    color: white;
    cursor:pointer;
    background-color: #6c7ae0;

}

#htoo_filterbtn2{
    color: white;
    cursor:pointer;
    background-color: #6c7ae0;

}

#htoo_bigsearch {
  padding-top: 30px;
  display: none;
}


#htoo_bigfilter {
  padding-top: 40px;
  display: none;
  background-color: #f5f5f5;
  margin-bottom: 55px;
}


#htoo_styleheader{

  font-size: 28px;
line-height: 1.1;
font-weight: 900;

}



#htoo_styletext {
  font-size: 14px;
  margin-top: -5px;
}


#style_cateback{
   background-image: url(/assets/banner-02.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
}


#style_cateback:hover{
background-color:rgb(0,0,255);opacity:0.8;
cursor: pointer;
 
}




#style_catebackbody{
  height: 250px;
}

#htoo_stylefooter_casual, #htoo_stylefooter_elegant, #htoo_stylefooter_smart{

    font-weight: 900;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    bottom: 20px;
    display: none;

}




footer {
   width: 100%;
   background-color: #333;
   color: white;
   padding-bottom: 10px;
}


#footer_header{
  font-weight: 900;
}