/* mobile css*/

@media only screen and (max-width: 600px) {

	#mobilerefund_headtext {
		 position: relative;
		 left: 50px;
	}

	#mobilerefund_secondtext{
		position: relative;
		 left: 50px;
		 font-size:12px;
	}


	#mobilerefund{
		width: 300px;
	}

  #mobildeli{
		width: 300px;
	}



	#mobiledeli_headtext{
		 position: relative;
		 left: 15px;
		 font-size: 12px;

	}

  #mobiledeli_secondtext{
		position: relative;
		 left: 50px;
		 font-size:12px;
	}

	#mobiledelitable_headtext td{
		font-size: 8px;

	}


	#mobiledeli_panel {
		position: relative;
		left: 30px;
		width: 330px;
	}


	#mobilfaq{
	  font-size: 10px;
	  width: 330px;
	  position: relative;
	  left: 30px;
	}

}