<div id="spree-header">
  <header id="header" data-hook>
      <div class="container">
      	<nav class="navbar navbar-inverse navbar-fixed-top">
      		  <div class="container-fluid">
		        <%= render partial: 'spree/shared/nav_bar' %>
		      </div>

		      <div class="container-fluid" id="man_navcont">
		      	  <div class="container-fluid" id="desktt">
		        	<%= render partial: 'spree/shared/main_nav_bar' %>
		    		</div>
		      </div>

		      <div id="mobile_flowbutton" style="background-color: white;">
		      		 <br>
		      		 <a href="/cart" class="btn btn-info" role="button" id="mobile_cat" >Cart</a>
		      		 <a href="/account" class="btn btn-info" role="button" id="mobile_acc">Account</a>
 <br> <br>
                  
		      </div> 

		</nav>




      </div>
  </header>

</div>



