
<% @body_id = 'home-page' %>


<br><br><br><br><br><br>

<h3>PRODUCT OVERVIEW</h3>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">All Products <span class="badge">42</span></a></li>
  <li role="presentation"><a href="#">Women</a></li>
  <li role="presentation"><a href="#">Men</a></li>
  <li role="presentation"><a href="#">Bag</a></li>
  <li role="presentation"><a href="#">Shoes</a></li>
  <li role="presentation"><a href="#">Watches</a></li>
  
</ul>
