  <div id="mobilaboutus">
	   
	    <h4 id="mobilaboutus_title">About us</h4>
		
		<div class="col-md-6" id="aboutus_div">
			
			<br><br>
			
			<p id="mobilerefund_headtext">MIMIBERRY CLOTHING သည် H&Ttechnology ၏ <br> လုပ်ငန်း
				အမှတ်တံဆိပ်တစ်ခုဖြစ်ပါသည်။
			</p><br>

			<p id="mobilerefund_headtext">
			MIMIBERRY CLOTHING 
			အမှတ်တံဆိပ်ကို <br>တရားဝင်မှတ်ပုံတင်ပြီး
			သားဖြစ်ပါသည်။
			</p><br>


			<p id="mobilerefund_headtext">MIMIBERRY CLOTHING ၏
			အဝတ်အထည်များကို <br> Officials Page 
			များဖြစ်သော</p><br>

			<p id="mobilerefund_headtext"><b>https://www.facebook.com/mimiberryco/ </b></p>
			<p id="mobilerefund_headtext"><b>https://www.facebook.com/5000kyats/</p> </b>
			<br>


			<p id="mobilerefund_headtext">နှင့်ယခု website တွင်သာ များတွင်သာရောင်းချပြီး   <br>
			အရောင်းဆိုင်အနေဖြင့် စမ်းချောင်း ဇေယျသုခလမ်း  <br>
			တိုက်နံပါတ်(၃၃)၊မြေညီထပ်တွင် တနင်္လာနေ့မှလွဲ၍နေ့စဉ်     <br>
			မနက် ၁၀နာရီမှ ည ၈နာရီအထိ စိတ်တိုင်းကျလာရောက်  <br>
			ရွေးချယ် ဝယ်ယူနိုင်ပါသည်။</p><br>

			<p id="mobilerefund_headtext">အခြားမည်သည့် အရောင်း ဆိုင်များ   <br>
			Online shopping Page များကိုမှ တစ်ဆင့် <br>
			ပြန်လည် ရောင်းချခွင့် မပြုထားပါဘူးခင်ဗျာ။  </p><br>



			<p id="mobilerefund_headtext">အခြား အရောင်းဆိုင်များ  <br>
			အထူးသဖြင့် Online shopping Page များအနေဖြင့် <br>
			ကျွန်တော်တို့ဆီမှ  ဝယ်ဝတ်မည့်သူအဖြစ်  <br>
			ဟန်ဆောင်ဝယ်ယူ၍ ပြန်လည် ရောင်းချခြင်းလဲ<br>
			မပြုလုပ်ကြပါရန်  မေတ္တာရပ်ခံပါတယ် ခင်ဗျာ ။ </p><br>


			<p id="mobilerefund_headtext"><b>Online အော်ဒါ လက်ခံရာတွင် </b></p><br> 

			<p id="mobilerefund_headtext">5000KYATS နှင့် MIMIBERRY CLOTHING ၏အော်ဒါ များကို<br>
				အထက်ပါ Officials Facebook Page များ၏ ချက်ဘောက်တွင်<br>
				နေ့စဉ်  မနက် ၉နာရီမှ ည ၇နာရီအထိ အော်ဒါ <br>
				လက်ခံပါသည်။
			</p><br> 

			<p id="mobilerefund_headtext"><b> သတိပြုရန်မှာ  </b></p><br> 


			<p id="mobilerefund_headtext">Viber, ဖုန်းဖြင့် အော်ဒါ (လုံးဝ)လက်မခံပါ။ <br>
			 ကောမန့်များတွင်လဲ အော်ဒါ (လုံးဝ) လက်မခံပါ။ <br> 
			 အခြား online shopping page များ ၊ <br>
			 လူအကောင့်များ ဖြင့် အော်ဒါ (လုံးဝ) လက်မခံပါ။ <br>
			</p><br> 

			<p id="mobilerefund_headtext"> နယ်မြို့များမှ  ငွေလွှဲလက်ခံရာတွင် <br> 
			KBZ, AYA, AGD, CB, MAB, UAB, <br> 
			GTB, YOMA, MYAWADDY <br> 
			ဘဏ်များဖြင့် သာမက <br> 
			wave money, KBZ PAY  <br> 
			ငွေလွှဲဝန်ဆောင်မှုများဖြင့်လဲ <br>  ငွေလွှဲလက်ခံပါတယ် ခင်ဗျာ။
			</p><br> 



			<p id="mobilerefund_headtext"> 5000KYATS နှင့် MIMIBERRY CLOTHING <br>
			၏ နာမည်၊ လိုဂို၊ ဓာက်ပုံများအသုံးပြု၍ မသမာသူများမှ <br> 
			လိမ်လည်မှုများ ရှိနေပါသောကြောင့်  <br> 
			ကျွန်တော်တို့၏ မိတ်ဟောင်း၊မိတ်သစ်များကို <br> 
			နစ်နာမှုမရှိ သတိပြုမိစေရန်လေးစားစွာဖြင့် <br> 
			အသိပေးအပ်ပါသည်။ </p><br> 


			<p id="mobilerefund_headtext"> <b> နေ့စဉ် တစ်ခဲနက် ဝယ်ယူအားပေးသော   <br>
			customer တစ်ယောက်စီတိုင်းကို   <br>
			လှိုက်လှိုက်လှဲလှဲကျေးဇူးတင်ပါတယ်ခင်ဗျာ။ </b>
			</p>

	    </div>

	   	<div class="col-md-6" id="aboutus_div">


	   				 <div class="panel panel-default" id="mobilecert_panel">
						  <div class="panel-body">
						  	<center>
						   		<%= image_tag 'CertificateOfIncorporation.png', class: 'class', id: 'identifier' %>
						   		<%= image_tag '20191020105407_00001.jpg', class: 'class', id: 'identifier' %>
						   		<%= image_tag '20191020105407_00003.jpg', class: 'class', id: 'identifier' %>
						   	</center>

						  </div>
						</div>


	    </div>

</div>