<div class="rows" >
	    <br><br><br><br>
	    <h4>Delivery</h4>


	   	<div class="col-md-6">

	   		
	   				 <div class="panel panel-default">
						  <div class="panel-body">
						  			
							<p> <b> ရန်ကုန်တိုင်းဒေသကြီးအတွင်း </b> </p><br>
						  	
							<p>အိမ်အရောက် ငွေချေစနစ်ရရှိသည့် မြို့နယ်များ </p>
						<table class="table table-bordered">
								 
						
							<tr>
								<td>အလုံ</td>
								<td>ဗဟန်း</td>
								<td>ဒဂုံ</td>
								<td>ကျောက်တံတား</td>
							</tr>
							<tr>
								<td>ကြည့်မြင်တိုင်</td>
								<td>လမ်းမတော်</td>
								<td>လသာ</td>
								<td>ပန်းဘဲတန်း</td>
							</tr>
							<tr>
								<td>စမ်းချောင်း</td>
								<td>လှိုင်</td>
								<td>ကမာရွတ် </td>
								<td>မရမ်းကုန်း</td>
								</tr>
							<tr>
								<td>ဗိုလ်တထောင်</td>
								<td>ဒဂုံမြို့သစ်မြောက်ပိုင်း</td>
								<td>ပုဇွန်တောင်</td>
								<td>တောင်ဥက္ကလာပ</td>
 							</tr>
							<tr>
								<td>သင်္ဃန်းကျွန်း</td>
								<td>မင်္ဂလာတောင်ညွန့်</td>
								<td>တာမွေ</td>
								<td>ရန်ကင်း</td>
							</tr>
						</table>
	<hr>

							
							<p>Delivery Fees (ပို့ခ)  ကြိုလွှဲမှ ပို့ပေးသည့် မြို့နယ်များ </p> 
							 <table class="table table-bordered">

							 <tr>
							 	<td>လှိုင်သာယာ </td> 
								<td>မင်္ဂလာဒုံ </td>
							 </tr>
							 <tr>	
								<td>ရွှေပြည်သာ </td>
								<td>အင်းစိန် </td>
		 					</tr>
							 <tr>

								<td>သာကေတ </td>
								<td>ဒေါပုံ </td>
							</tr>
							 <tr>
								<td>ဒဂုံမြို့သစ်တောင်ပိုင်း </td>
								<td>ဒဂုံမြို့သစ်အရှေ့ပိုင်း </td>
		 					</tr>
							 <tr>
								<td>ဒဂုံမြို့သစ်ဆိပ်ကမ်းမြို့နယ် </td>
								<td>မြောက်ဥက္ကလာပ </td>
							</tr>
					</table>
							 <p>အထက်ပါမြို့နယ်များမှ အထည်မှာယူလိုပါက <br>
								ပို့ခ 2500 ကျပ်အရင်လွှဲရပါမည် အထည်ဖိုးအား <br>
								ပစ္စည်းလာပို့မှ ပေးရမှာဖြစ်ပါတယ်ခင်ဗျာ။	</p><br>

							<p>ပို့ခ 2500 ကျပ်လွှဲပြီး ၇ ရက် အတွင်း <br>
								အထည်ပို့ပေးပါတယ်ခင်ဗျာ။	</p><br>

							<p>ဝယ်သူဘက်မှ ပျက်ကွက်မှုကြောင့် အထည်မယူဖြစ်ပါက  <br>
								ပို့ခ ၂၅၀၀ ပြန်လည်ရရှိမည်မဟုတ်ပါ။ <br></p>

					<hr>

					<p> Delivery Fees (ပို့ခ) ၊အထည်ဖိုး နှစ်ခုစလုံး ကြိုလွှဲမှ ပို့ပေးသည့် မြို့နယ်များ 
							 	</p> 
						<table class="table table-bordered">
							 <tr>
							 	<td>ဒလ </td>
								<td>ဆိပ်ကြီးခနောင်တို </td>
		 					</tr>
							 <tr>
								<td>ကိုကိုးကျွန်း </td>
								<td>ကော့မှူး </td>
		 					</tr>
							 <tr>
								<td>ခရမ်း </td>
								<td>ကွမ်းခြံကုန်း </td>
		 					</tr>
							 <tr>
								<td>ကျောက်တန်း </td>
								<td>သန်လျင် </td>
		 					</tr>
							 <tr>
								<td>သုံးခွ </td>
								<td>တွံတေး </td>
		 					</tr>
							 <tr>
								<td>လှည်းကူး </td>
								<td>မှော်ဘီ </td>
		 					</tr>
							 <tr>
								<td>ထန်းတပင် </td>
								<td>တိုက်ကြီး </td>
 		 					</tr>
							
							</table>
							 	<p> အထက်ပါမြို့များ မှ အထည်မှာယူလိုပါက <br>
								ပို့ခ ၃၀၀၀ နှင့်အထည်ဖိုးကျသင့်ငွေ <br>
								ငွေအရင်လွှဲရပါမည် ။  </p> <br> 

								<p> ကျွန်တော်တို့ဘက်မှ  <br>
								ငွေလွှဲပြီး ၇ရက် ဝန်းကျင်  <br>
								စာတိုက်သို့ပစ္စည်း ပို့ပေးပါတယ်ခင်ဗျ ။  </p> <br> 

								<p> ထိုနောက် စာတိုက်မှ အဆိုပါမြို့သို့ ပို့ဆောင်ချိန်  <br>
								မြို့အလိုက် ထပ်မံ စောင့်ဆိုင်းရပါမယ်ခင်ဗျာ။ </p> 



						  </div>
						</div>

	    </div>


	     <div class="col-md-6">

	   		
	   				 <div class="panel panel-default">
						  <div class="panel-body">
						  			
									<p> <b> အခြားပြည်နယ်နှင့် တိုင်းဒေသကြီးများ </b> </p><br>

										<p>ရန်ကုန်မြို့တွင်းမဟုတ်သော အခြားမြို့ကြီးများနှင့်နယ်မြို့များမှ ဝယ်ယူလိုပါက
											တန်ဆာခ(ပို့ခ)နှင့် အထည်ဖိုး ကျသင့်ငွေအရင်လွှဲရပါမည်။<br><br>

									ကျွန်တော်တို့ဘက်မှငွေလွှဲဝင်ပြီး ၇ရက် ဝန်းကျင် <br>
									ကားဂိတ်သို့ ပစ္စည်းပို့ပေးပါသည်။<br><br>

									ဧရာဝတီတိုင်း ၊ ချင်းပြည်နယ် ၊ ရှမ်းပြည်နယ် မြောက်ပိုင်း <br>
									ပြည်နယ်များအား စာတိုက်ဖြင့်သာ ပို့ပေးနိုင်ပါသည်။<br><br>

									နယ်ပစ္စည်းပို့ခ အပြီးအစည်း 3500 Kyats ဖြစ်ပါသည်။<br>
									ပစ္စည်းသွားထုတ်ပါက တန်ဆာခ ထပ်မံရှင်းရန်မလိုအပ်ပါ ။
								</p>


						  </div>
						</div>

	    </div>


</div>