<div class="rows" >
	    <br><br><br><br>
	    <h4>Return & Refund</h4><br>
		
		<p>mimiberry clothing မှ ဝယ်ယူသည့် ပစ္စည်း အားပြန်လဲ လဲလှယ်လိုသည်ဆိုပါက ပစ္စည်း လက်ခံရရှိပြီး၂၄ နာရီ အတွင်း ချက်ဘောက်တွင် အကြောင်းကြားပေးရန် လိုအပ်ပါသည် ။</p><br>

		<p>အပေါက် အပြဲ အနာ အဆာ ပါဝင်ပါက ပြန်လဲပေးပါသည် ။ပို့ခ ထပ်မံ ရှင်းရန် မလိုပါ ခင်ဗျာ ။ထိုအကြောင်းအရာမှ လွဲ၍ အခြား မည်သည့်အကြောင်းအရာနှင့်မှ ပြန်မလဲပေးပါ ခင်ဗျာ။ <br>
		ဝတ်ဆင်ထားကြောင်း စစ်ဆေးတွေ့ရှိပါကလဲ ပြန်မလဲပေးပါ ခင်ဗျာ ။</p><br>

		<p>မှတ်ချက်</p>
		<p>အွန်လိုင်းမှ အော်ဒါမှာယူသည့် အထည်များသာ လဲပေးခြင်း ဖြစ်ပါသည် ။ဆိုင်တွင် စိတ်ကြိုက် ရွေးချယ် ဝယ်ယူသွားသော အထည်များ အား ပြန်မလဲပေးပါ ခင်ဗျာ ။ </p>


		</div>



</div>


