<br>
	
	    <div id="mobilerefund">
	    <h4  id="mobilerefund_headtext">Return & Refund</h4><br>
		
		<p  id="mobilerefund_secondtext">mimiberry clothing မှ ဝယ်ယူသည့် ပစ္စည်း အားပြန်လဲ လဲလှယ်လိုသည်ဆိုပါက ပစ္စည်း လက်ခံရရှိပြီး
		<br>၂၄ နာရီ အတွင်း ချက်ဘောက်တွင် အကြောင်းကြားပေးရန် လိုအပ်ပါသည် ။</p><br>

		<p  id="mobilerefund_secondtext">အပေါက် အပြဲ အနာ အဆာ ပါဝင်ပါက ပြန်လဲပေးပါသည် ။ပို့ခ ထပ်မံ ရှင်းရန် မလိုပါ ခင်ဗျာ ။
		<br>ထိုအကြောင်းအရာမှ လွဲ၍ အခြား မည်သည့်အကြောင်းအရာနှင့်မှ ပြန်မလဲပေးပါ ခင်ဗျာ။ <br>
		ဝတ်ဆင်ထားကြောင်း စစ်ဆေးတွေ့ရှိပါကလဲ ပြန်မလဲပေးပါ ခင်ဗျာ ။</p><br>

		<p id="mobilerefund_headtext">မှတ်ချက်</p>
		<p  id="mobilerefund_secondtext">အွန်လိုင်းမှ အော်ဒါမှာယူသည့် အထည်များသာ လဲပေးခြင်း ဖြစ်ပါသည် ။
		<br>ဆိုင်တွင် စိတ်ကြိုက် ရွေးချယ် ဝယ်ယူသွားသော အထည်များ အား ပြန်မလဲပေးပါ ခင်ဗျာ ။ </p>
		</div>

